# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: pytest

on:
    push:
      branches: [ "master" ]
    pull_request:
      branches: [ "master" ]
  
permissions:
    contents: read
  
jobs:
    test:
  
      runs-on: ubuntu-latest
  
      steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
    
      - name: Cache pip packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
            ~/.cache/pypoetry
          key: ${{ runner.os }}-py3.10-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-py3.10-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]

      - name: Lint code with Ruff
        run: ruff check --output-format=github --target-version=py310
        
      - name: Test with pytest
        run: |
          pytest --cov=scripts/ --cov-report=xml -v tests/
    
      - name: Upload coverage
        uses: gaelgirodon/ci-badges-action@v1
        with:
            gist-id: 5baaf521e0e161712d3493546f6a8876
            token: ${{ secrets.GIST_TOKEN }}